@import "tailwindcss";

@theme {
  /* --color-main: #1a1a1a; */

  --color-main: #102217;
  /* 
  --color-nav: #121212; */

  --color-nav: #101914;

  /* --color-search: #202020; */

  --color-search: #29382f;

  --color-accent-primary: #2bee79;
  --color-accent-hover: #2bcc79;
  --color-accent-text: #000000;

  /* --color-accent-primary: #3b82f6;
  --color-accent-hover: #60a5fa; */

  --color-border-main: #243244;

  --color-text-primary: #f9fafb;
  --color-text-secondary: #9ca3af;
  --color-text-muted: #6b7280;
}

:root {
  --scroll-thumb: #575757;
  --scroll-track: #2b2b2b;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4a4a4a;
}

/* Removes arrow buttons */
::-webkit-scrollbar-button {
  display: none;
}

body {
  background-color: #102217;
}

.tab {
  color: white;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-bottom: 1rem;
}

.tab .active {
  color: #28e16d;
  z-index: 4;
  border-bottom: 1px solid #28e16d;
}

.card-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;

  transition:
    background-color 0.3s ease,
    transform 0.25s ease;
}

.card-bg:hover {
  background-color: rgba(0, 0, 0, 0);

  transform: scale(1.1);
}

.card-stuff {
  max-height: 0;

  overflow: hidden;
  border: 0;

  transition: max-height 0.2s ease-in-out;
}

.card-name {
  transition: all 0.2s ease-in-out;
  text-shadow:
    0 2px 6px rgba(0, 0, 0, 1),
    0 8px 20px rgba(0, 0, 0, 0.95);
}

.card-bg:hover .card-stuff {
  max-height: 200px;
}

.card-container-shadow {
  box-shadow: -8px 0 24px 12px rgba(0, 0, 0, 0.35) inset;
  z-index: 22;
  pointer-events: none;
}

button:hover {
  cursor: pointer;
}

.selected {
  color: black;
  border: 1px solid #2bee79;
  background-color: #2bee79;
}

.gameinfopage-input {
  width: 100%;
  max-width: 100%;
  min-width: none;
}

li {
  font-weight: 500;
  transition: 0.1s all;

  cursor: pointer;
}

button {
  font-weight: 500;
}
