@import "tailwindcss";

html {
  background-color: white;
  color: black;
}

/* hidden by default */
.hover-scroll::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* show on hover */
.hover-scroll:hover::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

/* track */
.hover-scroll::-webkit-scrollbar-track {
  background: #888;
}

/* thumb (hidden state) */
.hover-scroll::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

/* thumb on hover */
.hover-scroll:hover::-webkit-scrollbar-thumb {
  background: white;
}

.card-container-shadow {
  box-shadow: -8px 0 24px 12px rgba(0, 0, 0, 0.35) inset;
  z-index: 22;
  pointer-events: none;
}

button:hover {
  cursor: pointer;
}
